<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Useful Utilities</title>
</head>
<body>
<a href="/">Home</a>
<a href="/useful/colored">Colored</a>
<form method="get" action="/useful/email">
    <input type="text" name="email" placeholder="email">
    <button type="submit">Validate Email</button>
</form>
<form method="get" action="/useful/caesar">
    <input type="text" name="text" placeholder="text">
    <input type="number" name="number" placeholder="0">
    <button type="submit" value="encode" name="substr">Encode</button>
    <button type="submit" value="decode" name="substr">Decode</button>
</form>
</body>
</html>