body {
    font-family: 'Roboto', sans-serif;
    background: #EBEBEB;
    color: #515151
}

.main {
    background: #FFFFFF;
    margin: 50px auto;
    padding: 2.5% 5%;
    width: 80%;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: rgb(172, 172, 172) 10px 5px 5px;
}

.page {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 36px;
}

#formParts, #linkParts {
    width: 40%;
}

.fields {
    padding: 16px;
    margin: 16px;
}

.links {
    margin: 36px;
    padding: 20px;
}

#or {
    background-color: #DDDDDD;
    border-radius: 32px;
    padding: 18px;
    font-size: 26px;
    margin: auto;
    box-shadow: rgb(172, 172, 172) 10px 5px 5px;
}

.linkColumn {
    list-style-type: none;
    padding-inline-start: 0;
    text-align: center;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

#facebook {
    background-color: #3b5998;
}

#twitter {
    background-color: #1da1f2;
}

#googleplus {
    background-color: #d34836;
}

input {
    padding: 8px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #727272;
    font-size: 20px;
}

input:focus {
    border-bottom: 3px #54a189 solid;
    outline: 0;
}

button {
    margin: 40px 0 0 0;
    background-color: #16A085;
    color: white;
    padding: 16px;
    width: 125px;
    border: 0px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

button:focus {
    outline: 0;
}