<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css">
    <title>My beatiful web</title>
</head>
<body>

<ul>
    <li><a href="http://localhost:8080/web/">All items</a></li>
    <li><a href="http://localhost:8080/web/only-available">Only available</a></li>
    <li><a href="http://localhost:8080/web/cheapest-first">Cheapest items</a></li>
    <li><a href="http://localhost:8080/web/most-expensive">Expensive item</a></li>
    <li><a href="http://localhost:8080/web/contains-nike">Contains nike</a></li>
    <li><a href="http://localhost:8080/web/average-stock">Average stock</a></li>
</ul>

<form method="get" action="/web/search">
    <input type="text" name="search" placeholder="search something..."/>
    <button type="submit">Search</button>
</form>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity of stock</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.getName()}"></td>
        <td th:text="${item.getDescription()}"></td>
        <td th:text="${item.getPrice()}"></td>
        <td th:text="${item.getQuantityOfStock()}"></td>
    </tr>
    </tbody>
</body>
</html>