<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Table of Accounts</title>
    <div>
        <table>
            <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Balance</th>
            </tr>
            </thead>
            <tr th:each="account : ${accounts} th:object=">
                <td th:text="*{name}"></td>
                <td th:text="*{#numbers.formatDecimal(balance, 0, 'COMMA', 2, 'POINT')} + ' EUR'"></td>
                <td th:text="*{animalType}"></td>
            </tr>
        </table>
        <div>



</head>
<body>

</body>
</html>