body {
    color: black;
    background-image: url(Assets/topography/topography.png);
    background-attachment: fixed;
    padding: 1pc 10pc 1pc 10pc;
    background-position: center center;
    margin: 0px;
    display: block;
    text-align: end;
}

header {
    background-color: #333333;
    text-align: end;
}

header::after {
    content:"";
    display: table;
    clear: both;
}

.wrapper {
    font-size: 22px;
    line-height: 30px;
    font-family: "Courier New", Courier, monospace;
    text-align: justify;
}

div {
    display: block;
}


.separator {
    font-size: 22px;
    line-height: 30px;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    margin: 40px auto;
}

p {
    display: block;
    text-align: justify;
    font-size: 14px;
}


h1 {
    font-size: 40px;
    font-family: serif;
    text-align: left;
    font-weight: 400;
    letter-spacing: 8px;
}

h2 {
    font-size: 32px;
    font-family: serif;
    text-align: left;
    font-weight: 600;
}


