<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>URLAlias</title>
</head>
<body>
<h3 th:style="${stored ? 'color:red;' : 'color:black;'}" th:text="${message}"></h3>
    <form th:action="@{save-link}" method="post" th:object="${urlAlias}">
    <label for="url">URL</label>
    <input id="url" type="text" th:field="*{url}">
    <label for="alias">Alies</label>
    <input id="alias" type="text" th:field="*{alias}">

    <button th:type="submit">Submit</button>
    </form>
</body>
</html>